<div [formGroup]="passwordForm">
    <div class="form-group">
      <label for="password">Password</label>
      <div class="input-group">
        <input 
        type="{{ showPassword ? 'text' : 'password' }}" 
        id="password" 
        formControlName="password" 
        class="form-control form-outline password-input">
        <div class="invalid-feedback">{{ errorMessage }}</div>
      </div>
    </div>
    <app-password-strength-indicator [password]="value.password"></app-password-strength-indicator>
    <app-password-show-toggle (showPassword)="showPassword = !showPassword"></app-password-show-toggle>
  </div>
  